{% extends "base.twig" %}

{% block content %}
	<div class="section text-center">
		<p>OOOPS!</p>
		<h1>ERRO 404. Página não encontrada!</h1>
		<a href="{{ site.home }}" class="btn btn--dark" title="voltar para home">Voltar para home</a>
	</div>
{% endblock %}